<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website">
    <meta name="author" content="Tom Walshe">

    <!-- Styling for mobile browsers -->
    <meta name="theme-color" content="#191919">
    <meta name="msapplication-navbutton-color" content="#4285f4">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Title can either be set dynamically based on the current page or be fixed-->
    <title>
        {% if page.short_title %}
            {{ page.short_title}}
        {% else if page.title %}
            {{ page.title}}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <!-- <title>Example of a fixed title</title> -->

    <!-- Set the current page as its own canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script defer src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen">

    <!-- Load KaTeX -->
    <!-- Request is conditional to avoid unnecessary loading -->
    {% if page.format_equations %}
        <link rel="stylesheet" href="/assets/css/katex.min.css">
        <script defer src="/assets/js/katex.min.js"></script>
        <script defer src="/assets/js/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  </head>

    {% endif %}

    <!-- Load Bokeh -->
    {% if page.include_bokeh %}
        <script defer type="text/javascript" src="/assets/js/bokeh-3.0.3.min.js"></script>
    {% endif %}
</head>