<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        <div class="container" >
            {% include navbar.html %}

            <br/>

            {{ content }}

            {% include footer.html %}

        </div>


        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0334cc7108ca4dbeb3d76f49dfbe58d0"}'></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>