---
layout: default
---

<div class="row post">
    <div class="col ml-auto mr-auto">
        <header class="post-header">
            <h1 class="post-title">{{ page.name }}</h1>
        
            <p class="post-meta text-muted">
                {{ page.topic }}
            </p>
        </header>
    
        <article class="post-content">
            {{ content }}
        </article>

        <br/>

        {% assign filtered_posts = site.posts | where: 'series', page.name %}
        {% assign num_posts = filtered_posts | size %}
        {% if num_posts > 0 %}
            <h3>Posts</h3>
            {% for post in filtered_posts %}
                {% if post.visible %}
                    <div>
                        {{ post.date | date_to_string }} &nbsp&nbsp
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <br/>
                        <br/>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>